# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp/personal
.venv/
check_db.js
pdf_content.txt
check-njmls-login.js
check-njmls-search.ts
test-gemini.js
rates.html
pdf_content.txt
*.js
!next.config.js
!postcss.config.js
!tailwind.config.ts
!scripts/**/*.js
