@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-inter), Arial, Helvetica, sans-serif;
  --font-serif: var(--font-playfair), "Times New Roman", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

@keyframes grayscaleToColor {
  0% {
    filter: grayscale(100%);
  }

  100% {
    filter: grayscale(0%);
  }
}

.animate-grayscale-to-color {
  animation: grayscaleToColor 3s ease-in-out forwards;
}

@keyframes toastLifecycle {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.animate-toast {
  animation: toastLifecycle 3s ease-in-out forwards;
}